# Creating the spreadsheet

In [2]:
import pandas as pd

In [8]:
columns = ['Year', 'Palestinian men', 'Palestinian boys', 'Palestinian women', 'Palestinian girls', 'Israeli men', 'Israeli boys', 'Israeli women', 'Israeli girls']
rows = []

In [12]:
def add(list):
    while True:
        row = input("Enter row, or 'exit' to exit.")
        if row == 'exit':
            break
        else:
            add = ('[' + row + ']')
            list.append(eval(add))

add(rows)

In [18]:
print(rows)

['[2008, 505, 339, 38, 15]', '[2009, 786, 174, 75, 17]', '[2010, 83, 11, 1, 0]', '[2011, 103, 15, 3, 0]', '[2012, 199, 39, 15, 7]', '[2013, 33, 5, 1, 0]', '[2014, 1461, 372, 301, 195]', '[2015, 134, 26, 10, 4]', '[2016, 61, 38, 10, 0]', '[2017, 62, 11, 1, 3]', '[2018, 240, 55, 3, 2]', '[2019, 103, 25, 8, 2]', '[2020, 21, 8, 1, 0]', '[2021, 218, 62, 46, 23]', '[2022, 138, 41, 8, 3]', '[2023, 176, 40, 6, 4]']

In [19]:
columns = ['Year', 'Palestinian men', 'Palestinian boys', 'Palestinian women', 'Palestinian girls']
data = [eval(item) for item in rows]
palestine_fatalities = pd.DataFrame(data, columns=columns)

In [20]:
palestine_fatalities.head()

,Year,Palestinian men,Palestinian boys,Palestinian women,Palestinian girls
0,2008,505,339,38,15
1,2009,786,174,75,17
2,2010,83,11,1,0
3,2011,103,15,3,0
4,2012,199,39,15,7

In [21]:
row_israeli = []
add(row_israeli)

In [23]:
data = [eval(item) for item in row_israeli]

columns = ['Year', 'Israeli men', 'Israeli boys', 'Israeli women', 'Israeli girls']
israeli_fatalities = pd.DataFrame(data, columns=columns)

In [24]:
israeli_fatalities.head()

   Year  Israeli men  Israeli boys  Israeli women  Israeli girls
0  2008           24             4              5              0
1  2009           10             1              0              0
2  2010            6             0              2              0
3  2011            5             4              1              1
4  2012            6             0              1              0

In [26]:
fatalities = pd.merge(palestine_fatalities, israeli_fatalities, on='Year')
fatalities.head()

,Year,Palestinian men,Palestinian boys,Palestinian women,Palestinian girls,Israeli men,Israeli boys,Israeli women,Israeli girls
0,2008,505,339,38,15,24,4,5,0
1,2009,786,174,75,17,10,1,0,0
2,2010,83,11,1,0,6,0,2,0
3,2011,103,15,3,0,5,4,1,1
4,2012,199,39,15,7,6,0,1,0

In [27]:
fatalities.to_csv('fatalities.csv', index=False)

In [28]:
palestine_cols = ['Year', 'Palestinian men', 'Palestinian boys', 'Palestinian women', 'Palestinian girls']
israeli_cols = ['Year', 'Israeli men', 'Israeli boys', 'Israeli women', 'Israeli girls']
palestine_rows = []
israeli_rows = []

In [29]:
add(palestine_rows)

In [36]:
data = [eval(item) for item in palestine_rows]
palestine_injuries = pd.DataFrame(data, columns=palestine_cols)
palestine_injuries.head()

,Year,Palestinian men,Palestinian boys,Palestinian women,Palestinian girls
0,2008,1456,482,80,74
1,2009,3394,1555,838,518
2,2010,1098,325,113,17
3,2011,1602,381,99,61
4,2012,3335,1063,243,19

In [41]:
add(israeli_rows)

In [42]:
data = [eval(item) for item in israeli_rows]
israeli_injuries = pd.DataFrame(data, columns=israeli_cols)
israeli_injuries.head()

   Year  Israeli men  Israeli boys  Israeli women  Israeli girls
0  2008          731             8             18              2
1  2009          104             1              7              0
2  2010          167             1              8              1
3  2011          114             2              4              0
4  2012          561             2              7              1

In [43]:
injuries = pd.merge(palestine_injuries, israeli_injuries, on='Year')
injuries.head()

,Year,Palestinian men,Palestinian boys,Palestinian women,Palestinian girls,Israeli men,Israeli boys,Israeli women,Israeli girls
0,2008,1456,482,80,74,731,8,18,2
1,2009,3394,1555,838,518,104,1,7,0
2,2010,1098,325,113,17,167,1,8,1
3,2011,1602,381,99,61,114,2,4,0
4,2012,3335,1063,243,19,561,2,7,1

In [44]:
injuries.to_csv('injuries.csv', index=False)

In [ ]:
# Misc. fatalities = 18, 0
# Misc. injuries = 27,590, 468

In [32]:
fatalities = pd.read_csv('fatalities.csv')
total_fatalities = pd.DataFrame(fatalities.sum(), columns=['Total'])
total_fatalities.drop('Year', inplace=True)
total_fatalities.to_csv('total_fatalities.csv')

ValueError: The value of index_col couldn't be 'True'

In [ ]:
injuries = pd.read_csv('injuries.csv')
total_injuries = pd.DataFrame(injuries.sum(), columns=['Total'])
total_injuries.drop('Year', inplace=True)
total_injuries.to_csv('total_injuries.csv')